cadCAD==0.5.3
contourpy==1.2.1
cycler==0.12.1
dill==0.3.8
fonttools==4.53.0
funcy==2.0
kiwisolver==1.4.5
matplotlib==3.9.0
multiprocess==0.70.16
networkx==3.3
numpy==1.26.4
packaging==24.1
pandas==2.2.2
pathos==0.3.2
pillow==10.3.0
pox==0.3.4
ppft==1.7.6.8
pyparsing==3.1.2
PyQt6==6.7.0
PyQt6-Qt6==6.7.1
PyQt6-sip==13.6.0
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
tqdm==4.66.4
tzdata==2024.1
